#orders-table
{
    max-height: 40vh;
}

table td
{
    cursor: pointer;
    font-size: 0.8em;
}

table th
{
    font-size: 0.8em;
}

.ranking-first {
    color : green;
}
.ranking-second {
    color : blue;
}
.ranking-third {
    color :  orange;
}

table.blotter tr:hover, table.blotter tr.selected
{
    background-color:  #571C71;
    color: #fff;
}

.box{
    padding: 0.5em;
}